<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row">
        <argon-clock [inputTimeZone]="timeZone" *ngFor="let timeZone of timeZones"></argon-clock>
    </div>
</div>
  
  