<div class="clock-container">
    <div class="clock-digital">
        <div #date class="date">

        </div>
        <div #time class="time">

        </div>
        <div #day class="day">

        </div>

    </div>
    <div class="clock-analog">
        <div #spear class="spear">

        </div>
        <div #hour class="hour">

        </div>
        <div #minute  class="minute">

        </div >
        <div #second class="second">

        </div>
        <div #dail class="dail">

        </div>

    </div>
</div>