<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <perfect-scrollbar>
        <div class="scrollbar-inner">
            <div class="container-fluid">
                <div class="sidenav-header d-flex align-item-center">
                    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
                        <img src="./assets/img/brand/red.png" class="navbar-brand-img" alt="...">
                    </a>
                    <div class="ml-auto">
                        <!-- Sidebar toggle -->
                        <div class="sidenav-toggler d-none d-xl-block active"
                            data-action="sidenav-unpin" data-target="#sidenav-collapse-main">
                            <div class="sidenav-toggler-inner"><i
                                    class="sidenav-toggler-line"></i><i 
                                    class="sidenav-toggler-line"></i><i 
                                    class="sidenav-toggler-line"></i></div>
                        </div>
                    </div>
                </div>
                <div class="navbar-inner">
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" [ngbCollapse]="isExpand" id="sidenav-collapse-main">

                        <!-- Navigation -->
                        <ul class="navbar-nav">
                            <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                                <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                                    <i class="ni {{menuItem.icon}}"></i>
                                    {{menuItem.title}}
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" [attr.aria-expanded]="isCollapsed" routerLinkActive="active"
                                    data-toggle="collapse" id="sortMenu" aria-controls="collapseExample"
                                    (click)="isCollapsed = !isCollapsed">
                                    <i class="ni ni-key-25 text-info"></i>
                                    <span class="nav-link-text">Nav dropdown</span>
                                </a>
                                <div id="collapseExample" class="collapse" aria-labelledby="sortMenu"
                                    [ngbCollapse]="!isCollapsed">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" routerlinkactive="active" href="#">
                                                <span class="nav-link-text"> Dashboard </span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" routerlinkactive="active" href="#">
                                                Nav dropdown item
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                        <!-- Divider -->
                        <hr class="my-3">
                        <!-- Heading -->
                        <h6 class="navbar-heading text-muted">Documentation</h6>
                        <!-- Navigation -->
                        <ul class="navbar-nav mb-md-3">
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/tutorial">
                                    <i class="ni ni-spaceship"></i> Getting started
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/colors">
                                    <i class="ni ni-palette"></i> Foundation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/alerts">
                                    <i class="ni ni-ui-04"></i> Components
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </perfect-scrollbar>
</nav>