.d-none {
  display: none!important
}

.d-inline {
  display: inline!important
}

.d-inline-block {
  display: inline-block!important
}

.d-block {
  display: block!important
}

.d-table {
  display: table!important
}

.d-table-row {
  display: table-row!important
}

.d-table-cell {
  display: table-cell!important
}

.d-flex {
  display: flex!important
}

.d-inline-flex {
  display: inline-flex!important
}

@media (min-width:576px) {
  .d-sm-none {
    display: none!important
  }
  .d-sm-inline {
    display: inline!important
  }
  .d-sm-inline-block {
    display: inline-block!important
  }
  .d-sm-block {
    display: block!important
  }
  .d-sm-table {
    display: table!important
  }
  .d-sm-table-row {
    display: table-row!important
  }
  .d-sm-table-cell {
    display: table-cell!important
  }
  .d-sm-flex {
    display: flex!important
  }
  .d-sm-inline-flex {
    display: inline-flex!important
  }
}

@media (min-width:768px) {
  .d-md-none {
    display: none!important
  }
  .d-md-inline {
    display: inline!important
  }
  .d-md-inline-block {
    display: inline-block!important
  }
  .d-md-block {
    display: block!important
  }
  .d-md-table {
    display: table!important
  }
  .d-md-table-row {
    display: table-row!important
  }
  .d-md-table-cell {
    display: table-cell!important
  }
  .d-md-flex {
    display: flex!important
  }
  .d-md-inline-flex {
    display: inline-flex!important
  }
}

@media (min-width:992px) {
  .d-lg-none {
    display: none!important
  }
  .d-lg-inline {
    display: inline!important
  }
  .d-lg-inline-block {
    display: inline-block!important
  }
  .d-lg-block {
    display: block!important
  }
  .d-lg-table {
    display: table!important
  }
  .d-lg-table-row {
    display: table-row!important
  }
  .d-lg-table-cell {
    display: table-cell!important
  }
  .d-lg-flex {
    display: flex!important
  }
  .d-lg-inline-flex {
    display: inline-flex!important
  }
}

@media (min-width:1200px) {
  .d-xl-none {
    display: none!important
  }
  .d-xl-inline {
    display: inline!important
  }
  .d-xl-inline-block {
    display: inline-block!important
  }
  .d-xl-block {
    display: block!important
  }
  .d-xl-table {
    display: table!important
  }
  .d-xl-table-row {
    display: table-row!important
  }
  .d-xl-table-cell {
    display: table-cell!important
  }
  .d-xl-flex {
    display: flex!important
  }
  .d-xl-inline-flex {
    display: inline-flex!important
  }
}

@media print {
  .d-print-none {
    display: none!important
  }
  .d-print-inline {
    display: inline!important
  }
  .d-print-inline-block {
    display: inline-block!important
  }
  .d-print-block {
    display: block!important
  }
  .d-print-table {
    display: table!important
  }
  .d-print-table-row {
    display: table-row!important
  }
  .d-print-table-cell {
    display: table-cell!important
  }
  .d-print-flex {
    display: flex!important
  }
  .d-print-inline-flex {
    display: inline-flex!important
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden
}

.embed-responsive::before {
  display: block;
  content: ""
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%
}

.embed-responsive-16by9::before {
  padding-top: 56.25%
}

.embed-responsive-4by3::before {
  padding-top: 75%
}

.embed-responsive-1by1::before {
  padding-top: 100%
}

.flex-row {
  flex-direction: row!important
}

.flex-column {
  flex-direction: column!important
}

.flex-row-reverse {
  flex-direction: row-reverse!important
}

.flex-column-reverse {
  flex-direction: column-reverse!important
}

.flex-wrap {
  flex-wrap: wrap!important
}

.flex-nowrap {
  flex-wrap: nowrap!important
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse!important
}

.flex-fill {
  flex: 1 1 auto!important
}

.flex-grow-0 {
  flex-grow: 0!important
}

.flex-grow-1 {
  flex-grow: 1!important
}

.flex-shrink-0 {
  flex-shrink: 0!important
}

.flex-shrink-1 {
  flex-shrink: 1!important
}

.justify-content-start {
  justify-content: flex-start!important
}

.justify-content-end {
  justify-content: flex-end!important
}

.justify-content-center {
  justify-content: center!important
}

.justify-content-between {
  justify-content: space-between!important
}

.justify-content-around {
  justify-content: space-around!important
}

.align-items-start {
  align-items: flex-start!important
}

.align-items-end {
  align-items: flex-end!important
}

.align-items-center {
  align-items: center!important
}

.align-items-baseline {
  align-items: baseline!important
}

.align-items-stretch {
  align-items: stretch!important
}

.align-content-start {
  align-content: flex-start!important
}

.align-content-end {
  align-content: flex-end!important
}

.align-content-center {
  align-content: center!important
}

.align-content-between {
  align-content: space-between!important
}

.align-content-around {
  align-content: space-around!important
}

.align-content-stretch {
  align-content: stretch!important
}

.align-self-auto {
  align-self: auto!important
}

.align-self-start {
  align-self: flex-start!important
}

.align-self-end {
  align-self: flex-end!important
}

.align-self-center {
  align-self: center!important
}

.align-self-baseline {
  align-self: baseline!important
}

.align-self-stretch {
  align-self: stretch!important
}

@media (min-width:576px) {
  .flex-sm-row {
    flex-direction: row!important
  }
  .flex-sm-column {
    flex-direction: column!important
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse!important
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse!important
  }
  .flex-sm-wrap {
    flex-wrap: wrap!important
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap!important
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse!important
  }
  .flex-sm-fill {
    flex: 1 1 auto!important
  }
  .flex-sm-grow-0 {
    flex-grow: 0!important
  }
  .flex-sm-grow-1 {
    flex-grow: 1!important
  }
  .flex-sm-shrink-0 {
    flex-shrink: 0!important
  }
  .flex-sm-shrink-1 {
    flex-shrink: 1!important
  }
  .justify-content-sm-start {
    justify-content: flex-start!important
  }
  .justify-content-sm-end {
    justify-content: flex-end!important
  }
  .justify-content-sm-center {
    justify-content: center!important
  }
  .justify-content-sm-between {
    justify-content: space-between!important
  }
  .justify-content-sm-around {
    justify-content: space-around!important
  }
  .align-items-sm-start {
    align-items: flex-start!important
  }
  .align-items-sm-end {
    align-items: flex-end!important
  }
  .align-items-sm-center {
    align-items: center!important
  }
  .align-items-sm-baseline {
    align-items: baseline!important
  }
  .align-items-sm-stretch {
    align-items: stretch!important
  }
  .align-content-sm-start {
    align-content: flex-start!important
  }
  .align-content-sm-end {
    align-content: flex-end!important
  }
  .align-content-sm-center {
    align-content: center!important
  }
  .align-content-sm-between {
    align-content: space-between!important
  }
  .align-content-sm-around {
    align-content: space-around!important
  }
  .align-content-sm-stretch {
    align-content: stretch!important
  }
  .align-self-sm-auto {
    align-self: auto!important
  }
  .align-self-sm-start {
    align-self: flex-start!important
  }
  .align-self-sm-end {
    align-self: flex-end!important
  }
  .align-self-sm-center {
    align-self: center!important
  }
  .align-self-sm-baseline {
    align-self: baseline!important
  }
  .align-self-sm-stretch {
    align-self: stretch!important
  }
}

@media (min-width:768px) {
  .flex-md-row {
    flex-direction: row!important
  }
  .flex-md-column {
    flex-direction: column!important
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse!important
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse!important
  }
  .flex-md-wrap {
    flex-wrap: wrap!important
  }
  .flex-md-nowrap {
    flex-wrap: nowrap!important
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse!important
  }
  .flex-md-fill {
    flex: 1 1 auto!important
  }
  .flex-md-grow-0 {
    flex-grow: 0!important
  }
  .flex-md-grow-1 {
    flex-grow: 1!important
  }
  .flex-md-shrink-0 {
    flex-shrink: 0!important
  }
  .flex-md-shrink-1 {
    flex-shrink: 1!important
  }
  .justify-content-md-start {
    justify-content: flex-start!important
  }
  .justify-content-md-end {
    justify-content: flex-end!important
  }
  .justify-content-md-center {
    justify-content: center!important
  }
  .justify-content-md-between {
    justify-content: space-between!important
  }
  .justify-content-md-around {
    justify-content: space-around!important
  }
  .align-items-md-start {
    align-items: flex-start!important
  }
  .align-items-md-end {
    align-items: flex-end!important
  }
  .align-items-md-center {
    align-items: center!important
  }
  .align-items-md-baseline {
    align-items: baseline!important
  }
  .align-items-md-stretch {
    align-items: stretch!important
  }
  .align-content-md-start {
    align-content: flex-start!important
  }
  .align-content-md-end {
    align-content: flex-end!important
  }
  .align-content-md-center {
    align-content: center!important
  }
  .align-content-md-between {
    align-content: space-between!important
  }
  .align-content-md-around {
    align-content: space-around!important
  }
  .align-content-md-stretch {
    align-content: stretch!important
  }
  .align-self-md-auto {
    align-self: auto!important
  }
  .align-self-md-start {
    align-self: flex-start!important
  }
  .align-self-md-end {
    align-self: flex-end!important
  }
  .align-self-md-center {
    align-self: center!important
  }
  .align-self-md-baseline {
    align-self: baseline!important
  }
  .align-self-md-stretch {
    align-self: stretch!important
  }
}

.float-left {
  float: left!important
}

.float-right {
  float: right!important
}

.float-none {
  float: none!important
}

@media (min-width:576px) {
  .float-sm-left {
    float: left!important
  }
  .float-sm-right {
    float: right!important
  }
  .float-sm-none {
    float: none!important
  }
}

@media (min-width:768px) {
  .float-md-left {
    float: left!important
  }
  .float-md-right {
    float: right!important
  }
  .float-md-none {
    float: none!important
  }
}

.overflow-auto {
  overflow: auto!important
}

.position-static {
  position: static!important
}

.position-relative {
  position: relative!important
}

.position-absolute {
  position: absolute!important
}

.position-fixed {
  position: fixed!important
}

.position-sticky {
  position: -webkit-sticky!important;
  position: sticky!important
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal
}

.shadow-sm {
  box-shadow: 0 0 .5rem rgba(136, 152, 170, .075)!important
}

.shadow {
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15)!important
}

.shadow-lg {
  box-shadow: 0 0 3rem rgba(136, 152, 170, .175)!important
}

.shadow-none {
  box-shadow: none!important
}

@media (min-width:1200px) {
    .g-sidenav-pinned .sidenav.fixed-left+.main-content {
      margin-left: 250px
    }
    .g-sidenav-pinned .sidenav.fixed-right+.main-content {
      margin-right: 250px
    }
}
    
    .sidenav.fixed-left+.main-content {
    margin-left: 62px;
    transition: all .15s ease
    }
    
    @media (prefers-reduced-motion:reduce) {
    .media-comment-avatar,
    .navbar-vertical .navbar-nav .nav-link[data-toggle=collapse]:after,
    .sidenav.fixed-left+.main-content {
      transition: none
    }
    }
    
    .sidenav.fixed-right+.main-content {
    margin-right: 62px;
    transition: all .15s ease
    }
    
    .sidenav {
    z-index: 1050;
    transition: all .15s ease
    }
    
    @media (min-width:1200px) {
    .sidenav:hover {
      max-width: 250px
    }
    .sidenav .sidenav-toggler {
      padding: 1.5rem
    }
    }
    
    .sidenav .navbar-brand,
    .sidenav .navbar-heading {
    padding: 1.5rem;
    display: none
    }
    
    .sidenav-header {
    height: 78px
    }

    
    
    .g-sidenav-show .sidenav .navbar-brand,
    .g-sidenav-show .sidenav .navbar-heading {
    display: block
    }
    
    .g-sidenav-show .sidenav .nav-item .collapse {
    height: auto;
    transition: all .15s ease
    }
    
    @media (prefers-reduced-motion:reduce) {
    .g-sidenav-show .sidenav .nav-item .collapse,
    .sidenav,
    .sidenav.fixed-right+.main-content {
      transition: none
    }
    }
    
    .g-sidenav-pinned .sidenav {
    max-width: 250px!important
    }
    
    .g-sidenav-pinned .sidenav .navbar-brand,
    .g-sidenav-pinned .sidenav .navbar-heading {
    display: block
    }
    
    .g-sidenav-hidden:not(.g-sidenav-show) .sidenav .navbar-nav>.nav-item>.nav-link:after {
    content: ""
    }
    
    .g-sidenav-hidden:not(.g-sidenav-show) .sidenav .nav-item .collapse,
    .g-sidenav-hidden:not(.g-sidenav-show) .sidenav .nav-link-text {
    display: none!important
    }
    
    .g-sidenav-hide .sidenav .navbar-nav>.nav-item>.nav-link:after {
    content: ""
    }
    
    .g-sidenav-hide .sidenav .nav-item .collapse,
    .g-sidenav-hide .sidenav .nav-link-text {
    display: none!important
    }
    
    @media (max-width:1199.98px) {
    .sidenav {
      transform: translateX(-62px)
    }
    .sidenav.fixed-left+.main-content {
      margin-left: 0!important
    }
    .g-sidenav-pinned .sidenav {
      transform: translateX(0)
    }
    }
    
    .sidenav-toggler-inner,
    .sidenav-toggler-line {
    width: 18px;
    transition: all .15s ease
    }
    
    .sidenav-toggler-inner {
    position: relative
    }
    
    .sidenav-toggler-inner:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: -11px;
    top: -14px;
    border-radius: 50%;
    transform: scale(0);
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55)
    }
    
    @media (prefers-reduced-motion:reduce) {
    .sidenav-toggler-inner,
    .sidenav-toggler-inner:before,
    .sidenav-toggler-line {
      transition: none
    }
    }
    
    .sidenav-toggler-line {
    height: 2px;
    background-color: #172b4d;
    display: block;
    position: relative
    }
    
    .sidenav-toggler-line:not(:last-child) {
    margin-bottom: 3px
    }
    
    .sidenav-toggler-dark .sidenav-toggler-line {
    background-color: #fff
    }
    
    .sidenav-toggler {
    cursor: pointer;
    padding:1.3rem;
    }
    
    .sidenav-toggler.active .sidenav-toggler-inner:before {
    transform: scale(1)
    }
    
    .sidenav-toggler.active .sidenav-toggler-line:first-child,
    .sidenav-toggler.active .sidenav-toggler-line:last-child {
    width: 13px;
    transform: translateX(5px)
    }

    